footer {
  background-color: red;
  padding: 5rem 1rem;
  text-align: center;
  font-size: 2rem;
}

footer img {
  display: inline-block;
  height: 1em;
  width: auto;
  padding: 0 0.4em;
}

nav {
  align-items: center;
  background-color: #333;
  display: flex;
  font-size: 1rem;
  height: 3.5rem;
  left: 0;
  padding: 0 1em;
  top: 0;
  width: 100%;
}

nav a {
  color: #fff;
  text-decoration: none;
}
